@import 'src/general/scss/index.scss';

.article-full-card {
    @include tablet {
        background-color: $color-card-grey;
        border-radius: 15px;
        padding: 28px 30px;
        transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
        margin-bottom: 60px;
    }

    @include desktop-medium {
        padding: 57px 61px 56px;
        margin-bottom: 80px;
    }

    &__media {
        width: 100%;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 22px;

        @include tablet {
            margin-bottom: 60px;
        }

        img {
            width: 100%;
            height: auto;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        img[src*="http"] {
            opacity: 1;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 1.22;
        margin-bottom: 8px;
    }
    
    &__labels {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 14px;

        li {
            display: flex;
            align-items: center;
            padding: 0 5px;
            background-color: $color-btn-grey;
            color: $color-bg;
            font-size: 10px;
            line-height: 1.22;
            font-weight: $fw-bold;
            border-radius: 10px;
            min-height: 15px;
        }

        li + li {
            margin-left: 14px;
        }
    }

    &__data {
        color: $color-text-grey;
        font-size: 10px;

        @include tablet {
            font-size: 12px;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;

        @include tablet {
            margin-bottom: 0;
            font-size: 18px;
        }
    }

    &__content-wrapped {
        padding-bottom: 20px;
        @include desktop {
            padding-left: 10px;
        }
    }

}